.formContainer {
  margin: 0rem auto;
  margin-top: 3rem;
  max-width: 420px;
  padding: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  input, textarea { 
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  button {
    background: linear-gradient(to right, #00b300, #70e470);
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    width: 60%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:disabled {
      cursor: auto;
    }
  }

  textarea {
    resize: vertical;
    max-width: 100%;
    width: 100%;
    max-height: calc(100vh - 35rem);
  }

  @media (max-width: 720px) {
    margin-top: 2rem;
  }

  @media (max-width: 480px) {
    margin-top: 0;
    textarea {
      max-height: calc(100vh - 32rem);
    }
  }
}